<p-toast></p-toast>
<div class="notes-data">
    <div class="p-card">
        <form action="" [formGroup]="form">
            <div class="grid">
                <div class="col-6 ">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" formControlName="header" pInputText > 
                        <label for="inputtext">Header</label>
                    </span>
                </div>
                <div class="col-6">
                    <p-colorPicker id="color"   [showTransitionOptions]="'5ms'" [hideTransitionOptions]="'5ms'" formControlName="color"></p-colorPicker>
                    <label for="color">  Choose Color</label>
                </div>
                <div class="col-12 ">
                    <span class="p-float-label">
                        <textarea id="float-input" rows="10" cols="100" class="textarea"formControlName="note" pInputTextarea></textarea>
                        <label for="float-input">Note</label>
                    </span>
                </div>
                <div class="col-3">
                    <p-button label="Submit" (onClick)="onSubmit()"></p-button>
                </div>
            </div>
        </form>
    </div>
</div>