.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social {
  border-radius: 12px;
  width: 95%;
  height: 40px;
  background-color: white;
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.274),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--surface-800);
  font-weight: 400;
  margin-left: 10px;
}

i {
  margin-right: 10px;
  cursor: pointer;
}

footer {
  position: sticky;
  bottom: 3%;
  width: 100%;
  margin-top: 30%;
}
