<footer>
    <div class="container">
        <div class="social">
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <h3>Please Share and like</h3>  
                </div>
                <div class="p-toolbar-group-right">
                    <i class="pi pi-facebook"></i>
                    <i class="pi pi-twitter"></i>
                    <i class="pi pi-vimeo"></i>
                    <i class="pi pi-youtube"></i>
                </div>
            </p-toolbar>  
        </div>
    </div>
</footer>
